<div class="container">
    <h1>Workshops <small>Friday May 23</small></h1>
    <div class="row plglt-workshops-schedule">

        <div class="col-sm-12">
            <div class="panel-group" id="accordion">

            <h2>Half Day Workshops: Morning</h2>
            <% public.workshops._data.workshops.forEach(function(workshop) { %>
            <% if(workshop.slot === "half-day-am" && workshop.active == true) { %>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#workshop-<%= workshop.key %>">
                            <h3 class="panel-title"><%= workshop.title %> <span class="panel-title-instructor">with <%= workshop.instructor_name %></span></h3>
                        </a>
                    </div>
                    <div id="workshop-<%= workshop.key %>" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 workshop-abstract">
                                    <h4>Abstract</h4>
                                    <%- workshop.abstract %>
                                    <% if(workshop.prerequisites !== "") { %>
                                        <h4>Prerequisites</h4>
                                        <%- workshop.prerequisites %>
                                    <% } %>
                                    <% if(workshop.syllabus_url !== "") { %>
                                        <h4>Syllabus</h4>
                                        <a href="<%= workshop.syllabus_url %>"><%= workshop.syllabus_url %></a>
                                    <% } %>
                                </div>
                                <div class="col-sm-6 workshop-instructor-bio">
                                    <h4>About <%= workshop.instructor_first_name %>
                                        <% if(workshop.twitter_handle) { %>
                                        (<a href="https://twitter.com/<%= workshop.twitter_handle.replace(/^@/, '') %>"><%= workshop.twitter_handle %></a>)
                                        <% } %>
                                    </h4>
                                    <%- workshop.instructor_bio %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
            <% }) %>
            <h2>Half Day Workshops: Afternoon</h2>
            <% public.workshops._data.workshops.forEach(function(workshop) { %>
            <% if(workshop.slot == "half-day-pm" && workshop.active == true) { %>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#workshop-<%= workshop.key %>">
                            <h3 class="panel-title"><%= workshop.title %> <span class="panel-title-instructor">with <%= workshop.instructor_name %></span></h3>
                        </a>
                    </div>
                    <div id="workshop-<%= workshop.key %>" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 workshop-abstract">
                                    <h4>Abstract</h4>
                                    <%- workshop.abstract %>
                                    <% if(workshop.prerequisites !== "") { %>
                                        <h4>Prerequisites</h4>
                                        <%- workshop.prerequisites %>
                                    <% } %>
                                    <% if(workshop.syllabus_url !== "") { %>
                                        <h4>Syllabus</h4>
                                        <a href="<%= workshop.syllabus_url %>"><%= workshop.syllabus_url %></a>
                                    <% } %>
                                </div>
                                <div class="col-sm-6 workshop-instructor-bio">
                                    <h4>About <%= workshop.instructor_first_name %>
                                        <% if(workshop.twitter_handle) { %>
                                        (<a href="https://twitter.com/<%= workshop.twitter_handle.replace(/^@/, '') %>"><%= workshop.twitter_handle %></a>)
                                        <% } %>
                                    </h4>
                                    <%- workshop.instructor_bio %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
            <% }) %>
            <h2>Full Day Workshops</h2>
            <% public.workshops._data.workshops.forEach(function(workshop) { %>
            <% if(workshop.slot == "full-day" && workshop.active == true) { %>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#workshop-<%= workshop.key %>">
                            <h3 class="panel-title"><%= workshop.title %> <span class="panel-title-instructor">with <%= workshop.instructor_name %></span></h3>
                        </a>
                    </div>
                    <div id="workshop-<%= workshop.key %>" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 workshop-abstract">
                                    <h4>Abstract</h4>
                                    <%- workshop.abstract %>
                                    <% if(workshop.prerequisites !== "") { %>
                                        <h4>Prerequisites</h4>
                                        <%- workshop.prerequisites %>
                                    <% } %>
                                    <% if(workshop.syllabus_url !== "") { %>
                                        <h4>Syllabus</h4>
                                        <a href="<%= workshop.syllabus_url %>"><%= workshop.syllabus_url %></a>
                                    <% } %>
                                </div>
                                <div class="col-sm-6 workshop-instructor-bio">
                                    <h4>About <%= workshop.instructor_first_name %>
                                    <% if(workshop.twitter_handle) { %>
                                        (<a href="https://twitter.com/<%= workshop.twitter_handle.replace(/^@/, '') %>"><%= workshop.twitter_handle %></a>)
                                    <% } %>
                                    </h4>
                                    <%- workshop.instructor_bio %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
            <% }) %>
            </div>
        </div>
    </div>
    <h2>Tickets</h2>
    <p>Workshop tickets will be available to purchase in early April.</p>
</div>