<div id="plglt-index-nav">
    <%- partial("_shared/nav") %>
</div>

<section id="vision" class="plglt-section">
    <%- partial("_shared/vision") %>
</section>

<section id="workshops" class="plglt-section plglt-workshops">
    <%- partial("_shared/workshops") %>
</section>

<section id="conference" class="plglt-section plglt-conference">
    <%- partial("_shared/conference") %>
</section>

<section id="venue" class="plglt-section plglt-venue">
    <%- partial("_shared/venue") %>
</section>

<section id="sponsors" class="plglt-section plglt-sponsors">
    <%- partial("_shared/sponsors") %>
</section>

<section id="community" class="plglt-section plglt-community">
    <%- partial("_shared/community") %>
</section>

<section id="conduct" class="plglt-section plglt-conduct">
    <div class="container">
        <h1>Code of Conduct</h1>
        <div class="row">
            <div class="col-xs-12">
               <p>
                   tl;dr: Be Excellent To Each Other! And please, don’t be a jerk.
                    <a href="/conduct.html">Read the full policy.</a>
                </p>
            </div>
        </div>
    </div>
</section>


<!--<script src="http://cdn.lanyrd.net/badges/embed-v1.min.js"></script>-->

